{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site1</title>
    <h1>Site1 Index</h1>
    <link rel="stylesheet" href="{% static 'static/test.css' %}" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo sit
      voluptate aliquam corrupti at laboriosam, ea nam. Laborum culpa distinctio
      quod, nostrum cupiditate ipsam ab harum fuga cumque vitae nisi.
    </p>
  </head>
  <body></body>
</html>
